*{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
}





/* html ga style berishni uchinchi usuli va aniqliylik borasida 3- o'rinda */
h1{
    color: green; /*rang  */
font-size: 50px;/* yozuv razmeri */
font-family: cursive; /* shirfi */
font-weight: 900;/*  qalinligi*/
/* letter-spacing: 15px; */ /*  harflar orasidagi masofa*/
word-spacing: 20px;/*  so'zlar orasidagi masofa*/
text-transform: uppercase;/* kotta harfda */
text-transform: lowercase; /*  kichik harifda*/
text-transform: capitalize;/* har bir so'zni bosh harfini kotta qiladi */
line-height: 70px;/* satirlar orasidagi masofa */
text-align: center;/* tekisni o'rtaga olib keladi  */
/* text-align: start;boshi */
/* text-align: end;ohiri */
border-width: 20px;/* chegara qalinligi */
border-style: outset; /* chegara stili */
border-color: red;/* chegara rangi */
border: 5px dashed blue; /* width+style+color   birdaniga berish */
width: 600px;/*eni  */
height: 60px;/* bo'yi */
background-color: rgb(0, 255, 255); /*  orqa fon rangi*/
border-top: 4px solid sandybrown;/* yuqori */
border-right: 6px double seagreen;/* o'ng */
border-bottom: 10px dotted fuchsia;/* past */
border-left: 8px outset yellowgreen;/* chap */
border:4px double fuchsia;
border-radius: 40px;/* qirasini burish (burchak radiusi)*/
border: none;/* chegara olib tashlash */
box-shadow: 30px 30px 50px black;/* boksga soya */
text-shadow: 10PX 10PX 0 red;/* tekisga soya */
text-shadow: 0 0 20px red;
box-shadow: 0 0 30px red;
}